.div{
  height: 70px;
  width: 70px;
  background-color: aqua;
  border: 4px solid black;
  margin: 20px;
}
#div1{
  position: static;
}
#div2{
  position: relative;
  top: 25px;
  left: 80px;
}
#div3{
  position: fixed;
  top: 300px;
}
#div4{
  position: absolute;
  top: 200px;
  left: 90px;
}
