*{
  margin: 0;
  padding: 0;
}
.box{
  height: 100px;
  width: 100px;
  border: 3px solid black;
  margin-left: 5px;
}
#heading{
  margin-left: 200px;
}
#container{
  height: 150px;
  width: 600px;
  padding: 10px;
  margin: 20px;
  border: 3px solid black;

  display: flex;
  
}
#box1{
  background-color: rebeccapurple;
  order: 2;
}
#box2{
  background-color: rgb(54, 153, 51);
  order: 4;
}
#box3{
  background-color: rgb(227, 10, 10);
  order: 1;
}
#box4{
  background-color: rgb(190, 246, 5);
  order: 3;
}